@model CMS.CMS.Common.ViewModels.SubmissionDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(Model => Model.Title)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.Title)
    </dd>
    <dt>
        @Html.DisplayNameFor(Model => Model.AuthorName)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.AuthorName)
    </dd>
    <dt>
        @Html.DisplayNameFor(Model => Model.ConferenceName)
    </dt>
    <dd>
        @Html.ActionLink(Model.ConferenceName, "Details", "Conference", routeValues: new { id = Model.ConferenceId }, htmlAttributes: null)
    </dd>
    <dt>
        @Html.DisplayNameFor(Model => Model.Status)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.Status)
    </dd>
    <dt>
        @Html.DisplayNameFor(Model => Model.Abstract)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.Abstract)
    </dd>
    <dt>
        @Html.DisplayName("Paper")
    </dt>
    <dd>
        @Html.ActionLink("Download", "DownloadFile", "Submission", new { FileName = Model.FileName }, null)
    </dd>
</dl>
<div>
    @Html.ActionLink("Accept", "DecideToReview", "Submission", new { Id = Model.Id, review = true }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Reject", "DecideToReview", "Submission", new { Id = Model.Id, review = false }, new { @class = "btn btn-primary" })
</div>
<div>
    @Html.ActionLink("Edit", "Edit", "Submission", new { id = Model.Id }, new { @class = "btn btn-info" })
</div>

@using (@Html.BeginForm("SubmitReview", "Submission", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Id, new { Id = "Id" })
    
    <h3>Review</h3>
    <div class="form-group">
        @Html.Label("StrongReject", htmlAttributes: new { @class = "control-label" })
        @Html.RadioButton("Review", "StrongReject")
        @Html.Label("Reject", htmlAttributes: new { @class = "control-label" })
        @Html.RadioButton("Review", "Reject")
        @Html.Label("WeakReject", htmlAttributes: new { @class = "control-label" })
        @Html.RadioButton("Review", "WeakReject")
        @Html.Label("BorderlinePaper", htmlAttributes: new { @class = "control-label" })
        @Html.RadioButton("Review", "BorderlinePaper")
        @Html.Label("WeakAccept", htmlAttributes: new { @class = "control-label" })
        @Html.RadioButton("Review", "WeakAccept")
        @Html.Label("Accept", htmlAttributes: new { @class = "control-label" })
        @Html.RadioButton("Review", "Accept")
        @Html.Label("StrongAccept", htmlAttributes: new { @class = "control-label" })
        @Html.RadioButton("Review", "StrongAccept")
    </div>

    <div class="form-group">
        @Html.Label("Recommendation", htmlAttributes: new { @class = "control-label" })
        @Html.TextArea("Recommendation", htmlAttributes: new { @class = "form-control" })
    </div>

    <div class="text-danger">
        @ViewBag.ErrorMessage
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
}