@model CMS.CMS.Common.ViewModels.ConferenceDetailsViewModel

@{
    ViewBag.Title = "Details";
}
@using Newtonsoft.Json

<h2>Details</h2>

<div>
    <button id="joinPC" class="btn btn-default">Join PC</button>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.ChairId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChairId)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbstractPaperDeadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbstractPaperDeadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposalPaperDeadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposalPaperDeadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BiddingDeadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BiddingDeadline)
        </dd>

    </dl>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </p>*@

<button id="renderPartialPaper" class="btn btn-default">Submit paper</button>
<button id="renderPartialAbstract" class="btn btn-default">Submit abstract</button>

<div id="partialUploadPaper" style="display:none">
    @{
        Html.RenderAction("UploadPaper", "Conference", new { Model.Id });
    }
</div>

<div id="partialUploadAbstract" style="display:none">
    @{ 
        Html.RenderAction("UploadAbstract", "Conference", new { Model.Id });
    }
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $('#renderPartialPaper').click(function () {
            $('#partialUploadPaper').show();
        });

        $('#renderPartialAbstract').click(function () {
            $('#partialUploadAbstract').show();
        });

        $(document).ready(function () {
            var model = @Html.Raw(JsonConvert.SerializeObject(this.Model));
            var today = new Date();
            console.log(today.toJSON());
            console.log(model.BiddingDeadline);
            if (model.BiddingDeadline < today.toJSON()) {
                document.getElementById("renderPartialPaper").disabled = true;
                document.getElementById("renderPartialAbstract").disabled = true;
            }
        });
    </script>
}

