@model CMS.CMS.Common.ViewModels.JoinConferenceViewModel

<hr />
@using (@Html.BeginForm("FormJoinConference", "Conference", FormMethod.Post, new { @id = "form1" }))
{
    <div class="form-horizontal" style="margin-top: 15px">
        @Html.HiddenFor(x => x.ConferenceId, new { Id = "Id" })
        <div class="form-group">
            @Html.Label("Author", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.RadioButtonFor(model => model.Role, "Author")
                </div>
            </div>
        <div class="form-group">
            @Html.Label("Co-Chair", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.RadioButtonFor(model => model.Role, "CoChair")
                </div>
            </div>
        <div class="form-group">
            @Html.Label("PC Member", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.RadioButtonFor(model => model.Role, "PCMember")
                </div>
        </div>
        <input type="submit" name="submit" value="Join" class="btn btn-success" />
    </div>
}
